* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/* Navigation Bar */
.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(19, 60, 92);
  /* transform: translateY(-100%); */
}

.nav-links {
  font-size: 20px;
  display: inline-flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-links a {
  margin: 10px;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  background-color:rgb(76, 129, 170);
}

/* Form */
h3 {
  text-align: left;
  color: white;

}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
} 

form {
  align-items: center;
  justify-content: center;
  width:300px;
  border: 3px solid rgb(27, 82, 124);
  border-radius: 10px;
  padding: 20px;
  padding-left: 30px;;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(116, 140, 158);
}

.btn {
  align-items: center;
  justify-content: center;
  margin:10px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  padding-left:20px;
  padding-right:20px;
  background-color: rgb(19, 60, 92);
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  
}

.btn:hover {
  transform: translateY(-4px);
  cursor: pointer;
  color: white;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}


.password, .userName {
  margin:10px;
  width:80%;
  padding: 15px;
  border-radius: 10px;
  border:none;
}

.container {

  background-image: url(https://images.unsplash.com/photo-1650237178216-b6ea6e746be3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat  center;
  width: 100%;

}